.prj_overzicht { /* Tabel */
    border-collapse: collapse;
    border: 1px solid #666666;
}

    .prj_overzicht td.nw {
        white-space: nowrap;
    }

    .prj_overzicht td.c {
        text-align: center;
    }

    .prj_overzicht th.nw {
        white-space: nowrap;
    }

    .prj_overzicht th.c {
        text-align: center;
    }

    .prj_overzicht tr[data-uw] { /* projectactie die ook een uitwisseling is */
        cursor: pointer;
    }

        .prj_overzicht tr[data-uw]:hover {
            background-color: #dae8fc;
        }

    .prj_overzicht tr.huidige-uw { /* geselecteerde projectactie die ook een uitwisseling is */
        background-color: #ffe6cc;
        border: 3px solid #000000;
        cursor: pointer;
    }

        .prj_overzicht tr.huidige-uw:hover {
            background-color: #dae8fc;
        }

table.prj_overzicht > tbody > tr > td {
    border: 1px solid #666666;
}

table.prj_overzicht > tbody > tr > th {
    border: 1px solid #666666;
}
