.pv_overzicht {
    border: 1px solid #808080;
    border-collapse: collapse;
}

.pv_kolom {
    width: 50%;
}

.pv_toprow {
    border-top: 1px solid #808080;
}

.pv_diagram {
    width: 400px;
    height: 400px;
}
